html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {

}

header {
  display: flex;
  background-color: #e2e2e2;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 2rem;
}
 header h1 {

}

header p {

}

nav {
 background-color: #e2e2e2;
 padding: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  color: #0074d9;
}
 nav li {
   margin: .5rem;
 }

nav a {
   color:#0074d9;
   text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
